{% load static %}


<link rel="stylesheet" href="{% static 'css/signup.css' %}">

<form method="post" class="signup-form">
    {% csrf_token %}
    
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de usuario:</label>
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    
    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}" class="form-label">Contraseña:</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>
    
    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}" class="form-label">Confirmar contraseña:</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>
    
    <button type="submit" class="btn-submit">Registrarse</button>
  </form>