{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenida</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>
<body>
    <div class="welcome-container">
        {% if user.is_authenticated %}
            <h3 class="welcome-message">Bienvenido {{ user.username }}</h3>
            <a href="{% url 'home' %}" class="btn">Ingresar</a>
        {% else %}
            <p class="welcome-text">Crea tu cuenta, te esperamos</p>
            <a href="{% url 'signup' %}" class="btn">Sign Up</a>

            <p class="welcome-text">Si ya posees una cuenta, te esperamos por acá</p>
            <a href="{% url 'login' %}" class="btn">Login</a>
        {% endif %}
    </div>
</body>
</html>